<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IUnitOfWork" type="FoodNetwork.Repository.IUnitOfWork, FoodNetwork.Repository" />
  <alias alias="Container" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="PerResolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity" />
  <namespace name="FoodNetwork.Data.DBContext" />
  <namespace name="FoodNetwork.Repository" />
  <namespace name="FoodNetwork.WebApi.Areas.Restaurants.ModelRepository" />
  <namespace name="FoodNetwork.FeatureContext.RestaurantFeature" />
  <assembly name="FoodNetwork.Common" />
  <assembly name="FoodNetwork.Data" />
  <assembly name="FoodNetwork.Repository" />
  <assembly name="FoodNetwork.FeatureContext" />
  <assembly name="FoodNetwork.WebApi" />
  <container>
    <register type="IFoodNetworkDatabaseContext" mapTo="FoodNetworkDatabaseContext" >
      <lifetime type="PerResolve" />
      <constructor>
        <param name="connectionString" value="FoodNetworkConnection" />
      </constructor>
    </register>
    <register type="IUnitOfWork" mapTo="UnitOfWork"/>
    <register type="ITestEntityRepository" mapTo="TestEntityRepository">
      <lifetime type="Container" />
    </register>
    <register type="IRestaurantModelRepository" mapTo="RestaurantModelRepository">
      <lifetime type="Container" />
    </register>

    <register type="IRestaurantFeatureContext" mapTo="RestaurantFeatureContext">
      <lifetime type="Container" />
    </register>

    <register type="IRestaurantRepository" mapTo="RestaurantRepository">
      <lifetime type="Container" />
    </register>
  </container>
</unity>
