<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="FoodNetworkContextSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <!--connectionString="Data Source=BOSS22\SQLEXPRESS;AttachDbFilename=C:\GitHub\FoodNetwork\DataBase\FoodNetwork.mdf;Initial Catalog=FoodNetwork;Integrated Security=True"-->
    
      <add name="FoodNetworkConnection"
connectionString="Data Source=BOSS22\SQLEXPRESS;AttachDbFilename=C:\GitHub\FoodNetwork\DataBase\FoodNetwork.mdf;Initial Catalog=FoodNetwork;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <!--<defaultConnectionFactory type="FoodNetwork.Data.DBContext.FoodNetworkDataBaseConnectionFactory, FoodNetwork.Data">
      <parameters>
        <parameter value="FoodNetwork.Data.DBContext.WindowsAuthenticationConnectionStringBuilder" type="IConnectionStringBuilder"/>
      </parameters>
    </defaultConnectionFactory>-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <FoodNetworkContextSettings>
    <!--<add key="server" value="WERN15639" />-->
    <add key="server" value="BOSS22\SQLEXPRESS" />
    <add key="dbName" value="testfnDb" />
    <add key="enviroment" value="Dev" />
  </FoodNetworkContextSettings>
</configuration>